body {
    margin: 0px;
    background-color: rgb(4, 19, 32);
}
.container {
    min-width: 400px;
    height: 1000px;
    display: grid;
    grid-template-rows: repeat(15,1fr);
    grid-template-columns: repeat(9,1fr);
}

/*header*/
.header{
    padding:10px;
    grid-column:span 3;
    text-align:center;
    vertical-align:central;
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(0, 85, 165);
    color:antiquewhite;
    text-shadow: 0px 2px 2px black;
    box-shadow: 0px 0px 5px rgb(23, 40, 56);
}

/*footer*/
.footer {
    width: 100%;
    grid-column: span 9;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    padding: 0px 15px 0px 15px;
    font-family: Impact, fantasy
}

/*shift*/
.shift {
    text-align: center;
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    background-color: antiquewhite;
    text-shadow: 0px 0px 1px rgb(0, 85, 165);
    font-family: Arial;
    cursor: pointer;
    height: 100%;
}
.shift:hover{
    color:rgb(0, 85, 165);
}

/*dropdown*/
.dropdown{
    grid-column:span 3;
    background-color:antiquewhite;
    position:relative;
    height:30px;
}

/*chores*/
.chores{
    grid-column:span 3;
    grid-row:span 10;
    color:antiquewhite;
    text-align:center;
    font-size:18px;
}
.task {
    padding: 25px 10px 25px 10px;
    max-width: 100%;
    word-wrap: break-word;
    height:40px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.task:hover{
    background-color:rgb(3, 15, 25);
    color:antiquewhite;
    border-radius:5px;
}

/*fitness center dropdown CSS*/
#fcDropdown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding: 3px 3px 3px 3px;
}
    #fcDropdown div:hover {
        background-color: rgb(143, 198, 199);
        box-shadow: 0px 0px 8px 0px rgb(143, 198, 199);
    }

/*equipment room aid dropdown CSS*/
#eraDropdown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding: 3px 3px 3px 3px;
}
    #eraDropdown div:hover {
        background-color: rgb(143, 198, 199);
        box-shadow: 0px 0px 8px 0px rgb(143, 198, 199);
    }

/*field House dropdown CSS*/
#fhDropdown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width:100%;
    cursor:pointer;
    text-align:center;
    border-radius:0px 0px 5px 5px;
    padding:3px 3px 3px 3px;
}
    #fhDropdown div:hover {
        background-color: rgb(143, 198, 199);
        box-shadow: 0px 0px 8px 0px rgb(143, 198, 199);
    }